*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #ffffff;
    color: #000000;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    height: 50px;
}

header h1 {
    color: #5909c2;
    font-size: 25px;
}

header nav {
    display: flex;
}

header nav li {
    list-style-type: none;
    margin: 0 15px;
}

header nav li:last-child {
    margin-right: 0;
}

header nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    padding: 2px 8px;
}

header .login {
    display: flex;
    align-items: center;
}

header .login .log-in {
    border: none;
    outline: none;
    cursor: grab;
    font-weight: 650;
    background: none;
    margin-right: 5px;
}

header .login .start {
    border: none;
    outline: none;
    cursor: grab;
    background: #000000;
    padding: 7px 15px;
    color: #ffffff;
}

header .login .start:hover {
    color: #9b8585;
}

header .login i {
    font-size: 25px;
    margin: 0 8px;
    color: #fefeff;
    background: #0d1000;
    padding: 3px;
    border-radius: 2px;
    display: none;
}


.learn-more {
    background: #f0ec0d;
    margin: 0px;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.learn-more .more {
    background: #ffffff;
    padding: 13px 12px;
    font-weight: 600;
    cursor: pointer;
}

.body {
    margin: 10px 30px;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 30px 0 ;
}

.header .firstslide {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header .firstslide h2 {
    font-size: 35px;
    font-weight: 780;
    margin: 18px 0;
    line-height: 50px;
}

.header .firstslide h2 span {
    color: #5909c2 ;
}

.header .firstslide p {
    text-align: justify;
    line-height: 30px;
    margin-bottom: 40px;
}

.header .firstslide .jumpstart {
    background: none;
    border: 1px solid #000000;
    padding: 10px 20px;
    width: 125px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}

.header .firstslide .jumpstart:hover {
    color: #ad9d9d;
    background: #f1ecec;
}

.header .secondslide img {
    height: 400px;
    max-width: 400px;
}

.service-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px;
}

.service-icon p {
    font-weight: 750;
    font-size: 23px;
    margin-top: 50px;
}

.service-icon .icon-holder {
    display: flex;
    justify-content: space-between;
}

.service-icon .icon-holder .i-holder {
    font-size: 80px;
    margin-right: 110px;
    margin-top: 50px;
    color: #777;
}

.service-icon .icon-holder .i-holder:last-child {
    margin-right: 0;
}

.service-icon .service {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.service-icon .service .service-container img {
    height: 120px;
    width: 120px;
    border-radius: 5%;
    margin: 15px
}

.service-icon .service .service-container {
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 500%;
    padding: 20px;
    border-radius: 5px;
    color: #0d1000;
}

.service-icon .service .service-container:hover {
    box-shadow: 2px 2px 3px gray, -2px -2px 3px lightgray;
}

.service-icon .service .service-container:nth-child(2) {
    margin-top: 150px;
}

.service-icon .service .service-container h2 {
    font-weight: 650;
    font-size: 22px;
    color: #5909c2;
}


.service-icon .service .service-container p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 15px;
}

.about {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.about-container img {
    height: 300px;
    max-width: 500px;
}

.about .h2 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 650;
    text-align: center;
}

.about p {
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
}

.about .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 80%;
    margin: auto;
}

.about .about-container .firsthalf {
    width: 50%;
}


.about .about-container .firsthalf h3 {
    color: #5909c2;
    font-size: 18px;
}


.about .about-container .firsthalf li {
    list-style-type: disc;
    margin: 15px 10px;
}

.about .about-container .firsthalf .blue {
    color: #0c093b;
    text-decoration: underline;
    font-weight: 650;
}

.accordion {
    background-color: #f1f4d7;
    padding: 20px;
    width: 100%;
}

.accordion h2 {
    text-align: center;
    font-weight: 750;
    margin-bottom: 30px;
}

.accordion .accordion-container {
    background: #fefeff;
    margin: 20px 0px;
    padding: 15px;
    height: 100%;
}

.accordion .accordion-container button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.accordion .accordion-container h3 {
    color: #5909c2;
}

.accordion .accordion-container .acc-show {
    margin-top: 20px;
    text-align: justify;
    line-height: 25px;
    background-color: #b1ae80;
    padding: 20px 5px;
    margin-bottom: 5px;
    transition: display 1s;
    transform-origin: top;
}

.accordion .accordion-container .acc-show.hide {
    display: none;
    transform: scaleY(0.7);
}

.accordion .accordion-container h3:hover .fa.fa-times,
.accordion .accordion-container h3:focus .fa.fa-times:focus {
    transform: rotate(45deg);
    transition: all .1s;
}

footer {
    width: 100%;
    height: 100%;
    background: #f1ecec;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer .footer-container {
    text-align: justify;
    display: block;
    margin: 20px;
    padding: 10px;
}

footer .footer-container:hover {
    box-shadow: 2px 2px 3px gray, -2px -2px 3px lightgray;
}

footer .footer-container p {
    margin: 15px 0;
    line-height: 25px;
    font-size: 15px;
}

footer .footer-container a {
    margin-top: 10px;
    color: #f80000;
    letter-spacing: 1px;
    font-weight: 650;
}

footer .footer-container .apple,
footer .footer-container .nokia,
footer .footer-container .samsung {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}

footer .footer-container .apple {
    color: #0c093b;
}

footer .footer-container .nokia {
    color: #077a41;
    font-style: italic;
}

footer .footer-container .samsung {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fc0707;
    letter-spacing: 1px;
    font-style: italic;
}

/* media queries */
@media only screen and (max-width:752px) {
    header {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        position: relative;
    }
    header nav {
        display: none;
    }
    header nav.tabs {
        display: block;
        position: absolute;
        top: 40px;
        right: 0px;
        background: #ffffff;
        width: 60%;
        border-left: 1px solid black;
        height: 100vh;
        text-align: justify;
        padding: 30px;
        transition: display 0.4s ease;
    }
    header nav li {
        list-style-type: none;
        margin: 25px 5px;
    }
    
    header nav.tabs li:last-child {
        margin-right: auto;
    }
    
    header nav li a {
        text-decoration: none;
        font-size: 18px;
        color: #000000;
        padding: 2px 8px;
        transition: margin .2s;
    }
    header nav li a:hover {
        text-decoration: underline;
        font-weight: 550;
        margin-left: 20px;
    }
    header .login i {
        display: block;
        cursor: pointer;
    } 
    .learn-more {
        width: 100%;
        text-align: center;
        height: auto;
        padding: 4px 10px;
        line-height: 22px;
    }
    .learn-more .more {
        padding: 2px 5px;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .header .firstslide {
        width: 100%;
    }
    .header .secondslide {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
    }
    .header .secondslide img {
        max-width: 100%;
    }
    .service-icon p {
        text-align: center;
    }
    .service-icon .icon-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service-icon .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service-icon .service .service-container:nth-child(2) {
        margin-top: 40px;
    }
    .service-icon .icon-holder .i-holder {
        font-size: 80px;
        color: #777;
        display: flex;
        align-self: center;
        justify-content: center;
        margin: 20px auto;
    }
    .service-icon .icon-holder .i-holder i {
        margin: auto;
        align-self: center;
    }
    .service-icon .about {
        padding: 10px;
    }
    .service-icon .about p {
        text-align: center;
    }
    .service-icon .about .about-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        padding: 10px 0px;
        width: 100%;
        margin: 20px auto;
        height: 100vh;
    }
    .service-icon .about .about-container .firsthalf {
        margin: 25px 0px;
    }
    .about-container img {
        height: auto;
        max-width: 100%;
    }
    
    .about .h2 {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 650;
        text-align: left;
    }
    
    .about p {
        font-size: 15px;
        text-align: left;
        letter-spacing: 2px;
    }
    
    .about .about-container .firsthalf {
        width: 100%;
    }
    .accordion {
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    footer .footer-container {
        margin: 20px 0px;
    }
    
}